Projects/HeliTrack/other/temp/
Projects/HeliTrack/other/raw_data/
Projects/HeliTrack/other/.ipynb_checkpoints/
Projects/HeliTrack/models/
Projects/HeliTrack/temp/
Projects/HeliTrack/data
Projects/Space-Wars/Data/df.pkl
Projects/Space-Wars/Data/dtm_nmf.pkl
Projects/Space-Wars/Data/ldamodel1.pkl
Projects/Space-Wars/Data/nmf_model.pkl
Projects/Space-Wars/Data/stopwords.txt
Projects/Space-Wars/Data/st_scripts.json
Projects/HeliTrack/data
Projects/Space-Wars/nohup.out
Projects/Exoplanet-Hunting/Data/exoTest.csv
Projects/Exoplanet-Hunting/Data/exoTrain.csv
Projects/Exoplanet-Hunting/Kaggle_kernel.ipynb
Projects/Metro-Transit-Turnstiles-and-WTWY/jordancode.py
Projects/Metro-Transit-Turnstiles-and-WTWY/personal_contribution/
Projects/Metro-Transit-Turnstiles-and-WTWY/usefulcode.py
Projects/Movie-Investing-Model/main-backup_cleaned_data.ipynb
Projects/Movie-Investing-Model/main_bs4_scraper.py
Projects/Movie-Investing-Model/my_data.pkl
Projects/Movie-Investing-Model/my_data2.pkl
Projects/Movie-Investing-Model/supplementary_bs4_scraper.py
Projects/Space-Wars/Data/415.txt
Projects/Space-Wars/Data/420.txt
Projects/Space-Wars/Data/df.pkl
Projects/Space-Wars/Data/nohup.out
Projects/Space-Wars/Data/st_scripts.json
Projects/Space-Wars/SWScraper/SWScraper/__pycache__/
Projects/Space-Wars/SWScraper/SWScraper/spiders/__pycache__/
Projects/Space-Wars/project_fletcher_mvp_alexei_demchouk.html
Projects/Space-Wars/specialized_models.py
Projects/Space-Wars/topics.txt
Projects/Space-Wars/Data/data.json
Projects/Space-Wars/Data/dtm_nmf.pkl
Projects/Space-Wars/Data/ldamodel1.pkl
Projects/Space-Wars/Data/nmf_model.pkl
Projects/Space-Wars/Data/temp.txt
Projects/Space-Wars/corpus.mm
Projects/Space-Wars/corpus.mm.index
Projects/Space-Wars/dictionary.dict
Projects/Space-Wars/index.html
Projects/Space-Wars/index.html.old
Projects/Space-Wars/radarChart.js
Projects/Space-Wars/radarChart.js.old
Projects/Space-Wars/script.js
Projects/Space-Wars/space_wars_data.json
Projects/Space-Wars/topic.model
Projects/Space-Wars/topic.model.expElogbeta.npy
Projects/Space-Wars/topic.model.id2word
Projects/Space-Wars/topic.model.state
Projects/Space-Wars/topics.sublime-workspace
Projects/Space-Wars/vis1.html
Projects/Exoplanet-Hunting/index.html
